<div class="buy is-hidden" data-modal-buy>
    <div class="buy-window">
        <div>
            <button data-modal-close-buy class="buy-button-close" type="button">
                <svg width="8" height="8" class="buy-close">
                <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
     <h2 class="buy-title"><span class="buy-title-orange">BUY</span> NOW</h2>
     <ul class="buy-products-list">
        <li class="buy-products-item">
            <img src="./images/buy/modal1x1.jpg" alt="Few pieces of milk chocolate" class="buy-item" srcset="./images/buy/modal1x1.jpg 1x, ./images/buy/modal1x2.jpg 2x"/>
            <p class="buy-weight">100 g</p>
        </li>
        <li class="buy-products-item">
            <img src="./images/buy/modal2x1.jpg" alt="Few pieces of milk chocolate" class="buy-item" srcset="./images/buy/modal2x1.jpg 1x, ./images/buy/modal2x2.jpg 2x"/>
            <p class="buy-weight">200 g</p>
        </li>
        <li class="buy-products-item">
            <img src="./images/buy/modal3x1.jpg" alt="Few pieces of milk chocolate" class="buy-item" srcset="./images/buy/modal3x1.jpg 1x, ./images/buy/modal3x2.jpg 2x"/>
            <p class="buy-weight">300 g</p>
        </li>
     </ul>
     <form class="form">
        <div class="buy-form">
            <label class="buy-form-label" for="user-name">
            Personal information
            </label>
            <div class="buy-personal">
                <div class="buy-form-inside">
                <input type="text" name="user-name" placeholder="Name" id="user-name" class="buy-input" required/>
                </div>
                <div class="buy-form-inside">
                <input type="text" name="user-surname" placeholder="Surname" id="user-surname" class="buy-input" required/>
                </div>
            </div>
        </div>
        <div class="buy-form">
            <label class="buy-form-label" for="user-mail">
            Email
            </label>
            <div class="buy-form-inside">
                <input type="email" name="user-mail" placeholder="Enter your email" id="user-mail" class="buy-input" required/>
            </div>
        </div>
        <div class="buy-form">
            <label class="buy-form-label" for="user-phone">
            Phone number
            </label>
            <div class="buy-input buy-phone">
                <div class="buy-phone-number">
                    <svg width="32" height="24" class="buy-icon-flag">
                        <use href="./images/icons.svg#icon-flag"></use>
                    </svg>
                    <p class="buy-area-number">+ 380</p>
                </div>
                <div>
                    <input type="tel" name="user-phone" placeholder="Phone number" id="user-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required/>
                </div>
            </div>
        </div>
        <div class="buy-form">
            <label class="buy-form-label" for="user-credit">
            Card number
            </label>
            <div class="buy-form-inside">
                <input type="text" name="user-credit" placeholder="Enter card" id="user-credit" class="buy-input" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?| 5[1-5][0-9]{14}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|6(?:011|5[0-9]{2})[0-9]{12}|(?:2131|1800|35\\d{3})\\d{11})$" required/>
                <svg width="32" height="21" class="buy-icon-mastercard">
                    <use href="./images/icons.svg#icon-mastercard"></use>
                </svg>
            </div>
        </div>
        <div class="buy-comment">
            <label class="buy-form-label" for="user-comment">
            Comment</label>
                <textarea name="user-comment" rows="5" placeholder="Text input" id="user-comment" class="buy-textarea"></textarea>
        </div>

        <button type="submit" class="buy-button-submit" data-modal-open-buy>Submit</button>
     </form>
    </div>
</div>