<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo header-link" href="">SIMPLY<span class="logospan">CHOCOLATE</span></a>
      <!-- MOBILE MENU HAMBURGER OPEN -->
      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <!-- MOBILE MENU CLOSE -->
      <ul class="header_nav-list">
        <li>
          <a class="header-link active" href="">Home</a>
        </li>
        <li>
          <a class="header-link" href=""> How it’s made?</a>
        </li>
        <li><a class="header-link" href="">Our products</a></li>
        <li><a class="header-link" href="">Top sellers</a></li>
        <li><a class="header-link" href="">Chocolate is loved</a></li>
      </ul>
    </nav>
    <ul class="header_social-icons">
      <ul class="header_list">
        <li>
          <a href="" class="social-link link">Insta</a>
        </li>
        <li>
          <a href="" class="social-link link">Twit</a>
        </li>
      </ul>
    </ul>
  </div>
</header>
