<section class="hero-background">
    <div class="hero-container">
        <h1 class="visually-hidden">Simply chocolate - SHOP</h1>
        <h2 class="hero-text">Treat yourself or a loved one to<br/> our finest ingredients for a moment<br/> of pure delight!</h2>
        <container class="hero-buttons-all">
            <container class="hero-buttons">
                <button type="button" class="hero-button-buy" data-modal-open>Buy now</button>
                <a href="#how-its-made">
                    <button type="button" class="hero-button-how">How it's made</button>
                </a>
            </container>
            <a href="#footer">
                <button type="button" class="hero-button-scroll">
                    <p>scroll down</p>
                    <svg class="icon-arrow">
                        <use href="./images/icons2.svg#icon-arrow"></use>
                    </svg>
                </button>
            </a>
        </container>
    </div>
</section>