<section class="how-its-made" id="how-its-made">
    <div class="container how-its-made-container">
        <h2 class="how-its-made-heading">How it's <span class="how-its-made-heading-orange">made?</span></h2>
            <div class="flex-container-him">
                <div class="image-div-him">
                    <img src="./images/how-its-made/how-its-made-img.jpg" class="how-its-made-img" srcset="./images/how-its-made/img2x.jpg" alt="video with hot chocolate">
                    <svg xmlns="http://www.w3.org/2000/svg" class="center-svg" viewBox="0 0 44 44" fill="none">
                        <path d="M15 33V12L35 22.5L15 33Z" fill="#F5F4F4"/>
                        <circle cx="22" cy="22" r="21.5" stroke="white"/>
                      </svg>
                </div>
                <div class="background-div">
                    <div class="background-container-him">
                        <h3 class="try-our-chocolates">Try  our chocolates today and discover the perfect balance of flavor</h3>
                        <ul class="how-its-made-list">
                            <li class="how-its-made-list-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
    
                            <li class="how-its-made-list-item">At the same time, prepare a water bath. Melt the butter on it.</li>
    
                            <li class="how-its-made-list-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
    
                            <li class="how-its-made-list-item">Heat the mixture over low heat, letting it barely boil.</li>
    
                            <li class="how-its-made-list-item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
                        </ul>
                    </div>
                </div>
            </div>

    </div>
</section>