<section class="our-products">
    <div class="our-products-container container">

        <h2 class="our-products-heading">Our <span class="our-products-products">products</h2>

        <ul class="our-products-list list">

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/orange1x.jpg" alt="orange-flavored chocolate bar" width="230"
                        height="201"
                        srcset="images/our-products/orange1x.jpg 1x, images/our-products/orange-2x.jpg 2x" />
                    <div class="our-products-items">
                        <div class="our-products-text">
                            <h3 class="our-products-flavor">Orange</h3>
                            <p class="our-products-type">Dark chocolate</p>
                        </div>
                        <button class="our-products-button" type="button">45 UAH
                        </button>
                    </div>
                </li>
            </div>


            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/apple_and_cranberry1x.jpg"
                        alt="apple and cranberry flavored chocolate bar" width="230" height="201"
                        srcset="images/our-products/apple_and_cranberry1x.jpg 1x, images/our-products/apple_and_cranberry2x.jpg 2x" />
                    <div class="our-products-items">
                        <div class="our-products-text">
                            <h3 class="our-products-flavor">APPLE&CRANBERRY</h3>
                            <p class="our-products-type">Milk chocolate</p>
                        </div>
                        <button class="our-products-button" type="button">50 UAH
                        </button>
                    </div>
                </li>
            </div>


            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/lime_and_seasalt1x.jpg" alt="lime and seasalt flavored chocolate bar"
                        width="230" height="201"
                        srcset="images/our-products/lime_and_seasalt1x.jpg 1x, images/our-products/lime_and_seasalt2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">lime&sea salt</h3>
                        <p class="our-products-type">Dark chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">66 UAH
                    </button>
                </li>
            </div>

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/pineapple1x.jpg" alt="pineapple flavored chocolate bar" width="230"
                        height="201"
                        srcset="images/our-products/pineapple1x.jpg 1x, images/our-products/pineapple2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">pineapple</h3>
                        <p class="our-products-type">Dark chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">54 UAH
                    </button>
                </li>
            </div>

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/classic1x.jpg" alt="classic flavored chocolate bar" width="230"
                        height="201"
                        srcset="images/our-products/classic1x.jpg 1x, images/our-products/classic2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">classic</h3>
                        <p class="our-products-type">Milk chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">45 UAH
                    </button>
                </li>
            </div>

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/honey1x.jpg" alt="honey flavored chocolate bar" width="230"
                        height="201" srcset="images/our-products/honey1x.jpg 1x, images/our-products/honey2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">Honey</h3>
                        <p class="our-products-type">Milk chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">50 UAH
                    </button>
                </li>
            </div>

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/white1x.jpg" alt="pineapple flavored chocolate bar" width="230"
                        height="201" srcset="images/our-products/white1x.jpg 1x, images/our-products/white2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">Classic</h3>
                        <p class="our-products-type">White chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">54 UAH
                    </button>
                </li>
            </div>

            <div class="our-products-card">
                <li class="our-products-background">
                    <img src="images/our-products/roasted_fruits1x.jpg" alt="roasted fruits flavored chocolate bar"
                        width="230" height="201"
                        srcset="images/our-products/roasted_fruits1x.jpg 1x, images/our-products/roasted_fruits2x.jpg 2x" />
                    <div class="our-products-text">
                        <h3 class="our-products-flavor">Roasted fruits</h3>
                        <p class="our-products-type">Dark chocolate</p>
                    </div>
                    <button class="our-products-button" type="button">66 UAH
                    </button>
                </li>
            </div>

        </ul>



</section>