<section class="reviews" id="reviews">
  <div class="revievs_container">
    <h2 class="revievs_h2">chocolate <span class="span_revievs_header">is loved</span></h2>

    <ul class="reviews_cards">
      <li class="review_card">
        <div class="review_rectangle">
          <div class="review_image">
            <img
              src="/src/images/Reviews/Victoria.png"
              alt="Viktoria Review"
              width="80"
              height="80"
            />
            <h3 class="revievs_h3">Victoria Dobrzhanska</h3>
          </div>
          <p class="review_p">
            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin
            layer chocolate.
          </p>
        </div>
      </li>
      <li class="review_card">
        <div class="review_rectangle">
          <div class="review_image">
            <img src="/src/images/Reviews/Nazar.png" alt="Nazar Review" width="80" height="80" />
            <h3 class="revievs_h3">Nazar Babenko</h3>
          </div>
          <p class="review_p">
            This chocolate confection is a delight! A delight! The wafer is light and crisp, the
            hazelnut cream is smooth, and the chocolate is good.
          </p>
        </div>
      </li>
      <li class="review_card">
        <div class="review_rectangle">
          <div class="review_image">
            <img src="/src/images/Reviews/Olena.png" alt="Nazar Review" width="80" height="80" />
            <h3 class="revievs_h3">Olena Kampusch</h3>
          </div>
          <p class="review_p">
            Chocolate is a family favourite treat. Love the delicious smooth chocolate and the
            creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <div class="reviews_offer-banner">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="13"
        viewBox="0 0 28 13"
        fill="none"
      >
        <path
          d="M21.5 0H6.5C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13H21.5C25.0899 13 28 10.0899 28 6.5C28 2.91015 25.0899 0 21.5 0Z"
          fill="#FD9222"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="13"
        viewBox="0 0 13 13"
        fill="none"
      >
        <path
          d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
          fill="#111111"
          fill-opacity="0.1"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="13"
        viewBox="0 0 13 13"
        fill="none"
      >
        <path
          d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
          fill="#111111"
          fill-opacity="0.1"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="13"
        viewBox="0 0 13 13"
        fill="none"
      >
        <path
          d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13Z"
          fill="#111111"
          fill-opacity="0.1"
        />
      </svg>
    </div>
    <button data-modal-open type="button" class="review_button">Leave a review</button>
  </div>
</section>
