<!-- MODAL -->
<div class="subscribe-modal" data-modal-subscribe>

    <div class="subscribe-modal-window">

        <div class="subscribe-modal-hero">
            <button data-modal-close-subscribe class="subscribe-modal-close-x" type="button">
                <svg width="24" height="24" class="subscribe-modal-close-x">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>

        <div class="subscribe-modal-paragraph">
            <p class="subscribe-modal-text-one">
                Explore our <br><span class="subscribe-modal-text-two">new chocolate</span> first!
            </p>
        </div>


        <form class="subscribe-modal-form">
            <label for="email" class="subscribe-modal-label">
                <input class="subscribe-modal-input" name="email" type="email" placeholder="Enter your email" />
            </label>

            <button class="subscribe-modal-submit" type="submit">Subscribe</button>
        </form>

    </div>

</div>