<!-- MODAL -->



<div class="subscribe-modal-container">

    <div class="subscribe-modal-hero">
        <button type="button" class="subscribe-modal-close">
            <svg class="subscribe-modal-close-x" width="24" height="24">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
    </div>

    <div class="subscribe-modal-blocks">

        <div class="subscribe-modal-paragraph">
            <p class="subscribe-modal-text-one">
                Explore our <span class="subscribe-modal-text-two">new chocolate</span> first!
            </p>
        </div>

        <label for="email" class="subscribe-modal-label">
            <input class="subscribe-modal-input" name="email" type="email" placeholder="Enter your email" />
            <button class="subscribe-modal-submit" type="submit">Submit</button>
        </label>

    </div>