<section class="top_sellers-section" id="top_sellers">
    <div class="top_sellers-container">
        <h2 class="top_sellers-header">TOP<span class="top_sellers-header-span">SELLERS</span></h2>

        <ul class="top_sellers-list top_sellers-gallery">
            <div class="top_sellers-card">
            <li>
                <div class="top_sellers-cards">
                <img 
                src="/src/images/top_sellers/img1.jpg"
                alt="chocolate with coffee beans and chestnut"
                class="top_sellers-photo"/>
                <p class="top_sellers-paragraph">
                    Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
                    Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
                </p>
                </div>
            </li>
            <li>
                <div class="top_sellers-cards">
                <img 
                src="/src/images/top_sellers/img2.jpg"
                alt="chocolate with crushed nuts"
                class="top_sellers-photo"/>
                <button type="button" class="top_sellers-button">Buy now</button>
                </div>
            </li>
            <li>
                <div class="top_sellers-cards">
                <img 
                src="/src/images/top_sellers/img3.jpg"
                alt="dark chocolate and milk chocolate with nuts"
                class="top_sellers-third-photo top_sellers-photo"/>
                </div>
            </li>
            </div>
        </ul>
        <div class="top_sellers-text">
            <p class="top_sellers-p">
                Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
                Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p> 
            <button type="button" class="top_sellers-b">Buy now</button>
        </div>

    </div>
</section>