<section class="unique-components">
    <div class="container unique-components-header-paragraph">
        <h2 class="unique-components-headline">It all adds up to one exeptional <span class="unique-components-span">taste</span> sensation.</h2>
        <p class="unique-component-chocolate-secret">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    </div>
    <div class="container unique-components-ingridients">
        <ul class="unique-components-list">
            <li class="unique-component">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="component" alt="cubes of chocolate" width="" height="">
                            <h3 class="first-component-name">Milk chocolate</h3>
                        </div>
                        <div class="flip-card-back">
                            <h3 class="first-component-name">Milk chocolate</h3>
                            <p class="component-ingridients">chocolate</p>
                            <p class="component-ingridients-benefits">the benefits</p>
                            <p class="component-ingridients-story">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="unique-component">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="component" alt="cubes of chocolate" width="" height="">
                            <h3 class="other-component-name">Milk</h3>
                        </div>
                        <div class="flip-card-back">
                            <h3 class="first-component-name">Milk</h3>
                            <p class="component-ingridients">milk</p>
                            <p class="component-ingridients-benefits">the benefits</p>
                            <p class="component-ingridients-story">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="unique-component">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="component" alt="cubes of chocolate" width="" height="">
                            <h3 class="other-component-name">Nuts</h3>
                        </div>
                        <div class="flip-card-back">
                            <h3 class="first-component-name">Nuts</h3>
                            <p class="component-ingridients">nuts</p>
                            <p class="component-ingridients-benefits">the benefits</p>
                            <p class="component-ingridients-story">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="unique-component">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="component" alt="cubes of chocolate" width="" height="">
                            <h3 class="other-component-name">Semi-sweet chocolate</h3>
                        </div>
                        <div class="flip-card-back">
                            <h3 class="first-component-name">Semi-sweet chocolate</h3>
                            <p class="component-ingridients">sweet chocoalte</p>
                            <p class="component-ingridients-benefits">the benefits</p>
                            <p class="component-ingridients-story">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>