* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MOBILE VERSION */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    min-width: 375px;
    margin: 0 auto;
    padding: 20px;
  }

  .advantages-container {
    background-color: var(--grey);
    color: var(--white);
    flex-shrink: 0;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-right: 28px;
  }

  .advantages-icon-container {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    margin-bottom: 22px;
  }

  .advantages-headline {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }

  .advantages-paragraph {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
}

/* TABLET VERSION */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
    margin: 0 auto;
    padding: 50px 32px;
  }

  .advantages-container {
    background-color: var(--grey);
    color: var(--white);
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }

  .advantages-list li {
    width: calc((100% - 64px) / 2);
  }

  .advantages-icon-container {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    margin-bottom: 22px;
  }

  .advantages-headline {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }

  .advantages-paragraph {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
}

/* DESKTOP VERSION */

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }

  .advantages-container {
    background-color: var(--grey);
    color: var(--white);
  }

  .advantages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  .advantages-list li {
    display: relative;
    margin-right: 18px;
  }

  .advantages-list li::after {
    position: absolute;
    content: '';
    display: inline-block;
    align-items: center;
    width: 1px;
    top: 112px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.50);
  }

  .advantages-list li:last-child::after {
    display: none;
  }

  .advantages-icon-container {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    margin-bottom: 22px;
  }

  .advantages-headline {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }

  .advantages-paragraph {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
  }
}