.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.buy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding:  72px 24px 24px 24px;
}

.buy-window {
    width: calc(100% - 64px);
    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    border-radius: 15px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding:  32px 24px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
    overflow-y: scroll;
}

.buy-window > * {
    width: 100%;
}

.buy-button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: var(--background-color);
}

.buy-close {
    stroke: var(--black);
    width: 24px;
    height: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button-close:hover .buy-close,
.buy-button-close:focus .buy-close {
    stroke: var(--orange);
}

.buy-title {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
}

.buy-title-orange {
    color: var(--orange);
}

.buy-products-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.buy-products-item {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--white);
}

.buy-item {
    width: 84px;
    height: 69px;
}

.buy-weight {
    color: var(--black);
    height: 29px;
    width: 70px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);   
    background-color: var(--background-color);
    text-wrap: nowrap;
}

.buy-form {
    margin-bottom: 14px;
}

.buy-form-label {
    color: var(--black);
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: -0.24px;
}

.buy-form-inside {
    position: relative;
}

.buy-input {
    width: 100%;
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    background-color: transparent;
    padding: 14px 18px;
    outline: transparent;
    resize: none;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-input:focus-within {
    border-color: var(--grey);
}

.buy-personal {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.buy-phone {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

#user-phone {
    border: none;
    background-color: var(--background-color);
    margin-left: 10px;
}

.buy-phone-number {
    display: inline-flex;
    align-items: center;
}

.buy-phone-number:after {
    content: "";
    position: relative;
    left: 10px;
    height: 24px;
    border: 1.5px solid rgba(64, 64, 64, 0.30);
}

.buy-icon-flag {
    margin-right: 8px;
}

.buy-area-number {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    white-space: nowrap;
}

.buy-icon-mastercard {
    position: absolute;
    top: 12px;
    right: 14px;
}

.buy-textarea {
    width: 100%;
    height: 91px;
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    background-color: transparent;
    padding: 14px 18px;
    outline: transparent;
    resize: none;
    border-radius: 8px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-textarea:focus-within {
    border-color: var(--grey);
}

.buy-button-submit {
    background-color: var(--orange);
    color: var(--white);
    font-family: var(--font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    padding: 12px 28px;
    min-width: 120px;
    border-radius: 100px;
    border: none;
    margin: 18px auto 0 auto;
    white-space: nowrap;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button-submit:hover,
.buy-button-submit:focus {
    background-color: #FCF1E0;
    color: var(--orange);
}

@media screen and (min-width: 375px) and (max-width: 480px) {
.buy-window {
    width: calc(100% - 64px);
}
}

@media screen and (min-width: 768px) {
.buy-window {
    width: calc(100% - 64px);
    min-width: 609px;
    padding:  48px;
}
    
.buy-close {
    width: 28px;
    height: 28px;
}
    
.buy-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6667;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}
    
.buy-products-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
    
.buy-products-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    padding: 24px 20px 18px 20px;
    background-color: var(--white);
    flex-shrink: 0;
    width: calc((100% - 32px) / 3);
}
    
.buy-item {
    width: 120px;
    height: 107px;
}
    
.buy-weight {
    height: 33px;
    width: 96px;
    padding: 8px 27px;
}
    
.buy-form {
    margin-bottom: 18px;
}
    
.buy-form-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28571;
    letter-spacing: -0.28px;
}
    
.buy-input {
    font-size: 18px;
    letter-spacing: -0.36px;
}
    
.buy-personal {
    display: flex;
    flex-direction: row;
    gap: 21px;
}
    
.buy-personal > * {
    width: 50%;
}
    
.buy-icon-mastercard {
    position: absolute;
    top: 18px;
    right: 24px;
}
    
.buy-textarea {
    font-size: 18px;
    letter-spacing: -0.36px;
}

#user-phone {
    margin-left: 25px;
}

.buy-phone-number:after {
    left: 25px;
}

.buy-icon-flag {
    margin-right: 18px;
}

.buy-area-number {
    font-size: 18px;
}
}