a {
  color: inherit;
  text-decoration: none;
}

/* MOBILE VERSION */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    min-width: 375px;
  }

  .footer-page {
    color: var(--white);
    background-color: var(--grey);
  }

  .footer-container {
    margin: 0 auto;
    padding: 32px 20px;
  }

  .footer-upper-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .footer-headline {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
    min-width: 100%;
  }

  .footer-span {
    color: var(--orange);
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .footer-paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2857;
  }

  .footer-contacts-list li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: -0.28px;
  }

  .footer-tel,
  .footer-mail {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: -0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-tel:hover,
  .footer-mail:hover,
  .footer-tel:active,
  .footer-mail:active {
    color: var(--orange);
  }

  .footer-media-list {
    display: flex;
    gap: 14px;
  }

  .footer-media-item .footer-media-link {
    width: 22px;
    height: 22px;
  }

  .footer-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icon {
    stroke: var(--white);
    fill: var(--grey);
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icon:hover,
  .footer-icon:active {
    stroke: var(--orange);
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .footer-menu::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    top: -32px;
    display: block;
  }

  .footer-menu li {
    margin-bottom: 18px;
  }

  .footer-menu li:last-child {
    margin-bottom: 0;
  }

  .footer-menu a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
}

/* TABLET VERSION */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
  }

  .footer-page {
    color: var(--white);
    background-color: var(--grey);
  }

  .footer-container {
    margin: 0 auto;
    padding: 50px 32px;
  }

  .footer-upper-container {
    display: flex;
    flex-wrap: no-wrap;
  }

  .footer-headline {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
  }

  .footer-span {
    color: var(--orange);
  }

  .footer-contacts {
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 50px;
  }

  .footer-paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2857;
    margin-bottom: 14px;
  }

  .footer-contacts-list li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: -0.28px;
    margin-bottom: 4px;
  }

  .footer-tel,
  .footer-mail {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: -0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-tel:hover,
  .footer-mail:hover,
  .footer-tel:active,
  .footer-mail:active {
    color: var(--orange);
  }

  .footer-media {
    margin-bottom: 98px;
  }

  .footer-media-list {
    display: flex;
    gap: 14px;
  }

  .footer-media-item .footer-media-link {
    width: 24px;
    height: 24px;
  }

  .footer-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icon {
    stroke: var(--white);
    fill: var(--grey);
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icon:hover,
  .footer-icon:active {
    stroke: var(--orange);
  }

  .footer-menu-list {
    display: inline-flex;
    align-items: flex-start;
  }

  .footer-menu {
    position: relative;
    display: block;
  }

  .footer-menu::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    top: -24px;
    display: block;
  }

  .footer-menu-list li {
    margin-right: 24px;
  }

  .footer-menu-list li:last-child {
    margin-right: 0;
  }

  .footer-menu a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
}

/* DESKTOP VERSION */

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .footer-page {
    color: var(--white);
    background-color: var(--grey);
  }

  .footer-container {
    margin: 0 auto;
    padding: 50px 32px;
  }

  .footer-upper-container {
    display: flex;
    flex-wrap: no-wrap;
  }

  .footer-headline {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
  }

  .footer-span {
    color: var(--orange);
  }

  .footer-contacts {
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 50px;
  }

  .footer-paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2857;
    margin-bottom: 14px;
  }

  .footer-contacts-list li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2857;
    letter-spacing: -0.28px;
    margin-bottom: 4px;
  }

  .footer-tel,
  .footer-mail {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: -0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-tel:hover,
  .footer-mail:hover,
  .footer-tel:active,
  .footer-mail:active,
  .footer-tel:focus,
  .footer-mail:focus {
    color: var(--orange);
  }

  .footer-media {
    margin-bottom: 98px;
  }

  .footer-media-list {
    display: flex;
    gap: 14px;
  }

  .footer-media-item .footer-media-link {
    width: 24px;
    height: 24px;
  }

  .footer-media-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icon {
    stroke: var(--white);
    fill: var(--grey);
    transition-property: stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icon:hover,
  .footer-icon:active,
  .footer-icon:focus {
    stroke: var(--orange);
  }

  .footer-menu-list {
    display: inline-flex;
    align-items: flex-start;
  }

  .footer-menu {
    position: relative;
    display: block;
  }

  .footer-menu::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    top: -24px;
    display: block;
  }

  .footer-menu-list li {
    margin-right: 24px;
  }

  .footer-menu-list li:last-child {
    margin-right: 0;
  }

  .footer-menu a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
  }
}