.how-its-made-list-item {
  list-style-type: disc;
}

.image-div-him {
  position: relative;
}

.how-its-made-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  margin-bottom: 20px;
}

.center-svg {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-its-made-container {
  margin-bottom: 72px;
  padding: 0px 20px;
}

.how-its-made-heading {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.how-its-made-heading-orange {
  color: var(--orange);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.background-container-him {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: var(--white);
  padding: 20px 40px;
  border-radius: 15px;
}

.try-our-chocolates {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.how-its-made-list-item {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.how-its-made-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.how-its-made-img {
  width: 335px;
  height: auto;
}

@media screen and (min-width: 375px) {
  .how-its-made-container {
    margin-bottom: 72px;
    padding: 0px 20px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .background-container-him {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--white);
    padding: 20px;
  }

  .try-our-chocolates {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .how-its-made-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-container {
    margin-bottom: 100px;
    padding: 0px 77px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .background-container-him {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    padding: 32px;
  }

  .how-its-made-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .how-its-made-list {
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-list {
    display: flex;
    width: 452px;
    height: 260px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .how-its-made-container {
    margin-bottom: 128px;
    padding: 0px 32px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .background-container-him {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 32px;
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-img {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
  }

  .flex-container-him {
    display: flex;
    gap: 20px;
  }
}
