.how-its-made-list-item {
  list-style-type: disc;
}

.image-div-him {
  position: relative;
}

.how-its-made-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.center-svg {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* @media screen and (min-width: 378px) and (max-width: 1140px) {
  
    .how-its-made-container {
        display: block;
        
    }
  
    .how-its-made-heading {
        color: var(--black);
        text-align: center;
        font-family: var(--font);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    
    .how-its-made-heading-orange {
        color: var(--orange);
    }
  
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .how-its-made-img {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 20px;
    }
  
    .background-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background: white;
        border-radius: 15px;
    }
    .background-container {
        padding: 20px 14px;
    }
    .try-our-chocolates {
        color: var(--black);
        font-family: var(--font);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.33;
        max-width: 307px;
    }
    
    .how-its-made-list {
        padding-left: 14px;
    }
  
    .how-its-made-list-item {
        color: var(--black);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.28px;
        margin-bottom: 18px;
    }
  }
  @media screen and (min-width: 768px) {
  
    .how-its-made-container {
        display: block;
        margin-bottom: 100px;
    }
    
    .flex-container {
        display: flex;
    }
  
    .image-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .background-div {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
  
    .background-container {
        padding: 32px;
    }
  
    .how-its-made-img {
        width: 100%;
        height: 400px;
    }
  
    .how-its-made-list-item {
        max-width: 464px;
        
    }
  }
  @media screen and (min-width: 1220px) {
  
    .flex-container {
        display: flex;
        margin-bottom: 128px;
    }
  
    .how-its-made-heading {
        color: var(--black);
        text-align: center;
        font-family: var(--font);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    
    .how-its-made-heading-orange {
        color: var(--orange);
    }
  
    .how-its-made-img {
        min-width: 600px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
  
    .background-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background: white;
        border-radius: 15px;
        margin-left: 20px;
    }
  
    .try-our-chocolates {
        color: var(--black);
        font-family: var(--font);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.33;
        max-width: 307px;
    }
    
    .how-its-made-list {
        padding-left: 14px;
    }
  
    .how-its-made-list-item {
        color: var(--black);
        font-family: var(--font);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28;
        letter-spacing: -0.28px;
        margin-bottom: 18px;
    }
  } */

@media screen and (min-width: 375px) {
  .how-its-made-container {
    margin-bottom: 72px;
    padding: 0px 20px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .background-container-him {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--white);
    padding: 20px;
  }

  .try-our-chocolates {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .how-its-made-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-container {
    margin-bottom: 100px;
    padding: 0px 77px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .background-container-him {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    padding: 32px;
  }

  .how-its-made-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .how-its-made-list {
    display: flex;
    width: 550px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-list {
    display: flex;
    width: 452px;
    height: 260px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .how-its-made-container {
    margin-bottom: 128px;
    padding: 0px 32px;
  }

  .how-its-made-heading {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .how-its-made-heading-orange {
    color: var(--orange);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }

  .background-container-him {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 32px;
  }

  .how-its-made-list-item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .how-its-made-img {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
  }

  .flex-container-him {
    display: flex;
    gap: 20px;
  }
}
