/****** MODAL ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 375px) {

    .subscribe-modal-container {
        width: 311px;
        height: 169px;

        border-radius: 15px;
        background: #FAFAFA;
    }

    .subscribe-modal-hero {
        background: url(../images/subscribe_pop-up/subscribe-chocolate-1x.jpg), lightgray 0px -81.483px / 172.99% 212.406%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 311px;
        height: 169px;
    }

    .subscribe-modal-paragraph {
        width: 263px;

    }


    .subscribe-modal-text-one {
        color: var(--black);
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .subscribe-modal-text-two {
        color: var(--orange);
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .subscribe-modal-input {
        display: flex;
        width: 263px;
        padding: 14px 18px;
        align-items: flex-start;
        gap: 40px;


        border-radius: 25px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);
        box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
    }

    .subscribe-modal-submit {
        display: flex;
        width: 100px;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 14px;

        border-radius: 100px;
        background: var(--orange);
        color: var(--white);
        text-align: center;
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@media (min-width: 768px) {

    .subscribe-modal-container {
        width: 538px;
        height: 412px;
    }

    .subscribe-modal-hero {
        width: 538px;
        height: 196px;
    }

    .subscribe-modal-blocks {
        width: 458px;
        height: 136;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        padding: 40px;
    }

    .subscribe-modal-paragraph {
        width: 298px;
    }

    .subscribe-modal-label {
        display: flex;
        width: 458px;
        align-items: flex-start;
        gap: 14px;
    }

    .subscribe-modal-input {
        display: flex;
        width: 313px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }

    .subscribe-modal-submit {
        display: flex;
        width: 137px;
        height: 52px;
        padding: 17px 40px;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
}