
  section{
    display: flex;
    justify-content: center;
  }

  .top_sellers-container{
    min-width: 335px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    display: flex;
}

.top_sellers-header{
    color: var(--orange);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-top: 72px;
}

.top_sellers-header-span{
    color: var(--black);
}

.top_sellers-gallery{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-bottom: 32px;
    padding-top: 50px;
}

.top_sellers-photo{
    width: 344px;
    height: 464px;
}

.top_sellers-list-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.top_sellers-paragraph{
    color: var(--black);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.28px;
    text-align: left;
    width: 306px;
}

.top_sellers-photo{
    border-radius: 15px;
    width: 335px;
    height: 464px;
    flex-shrink: 0;
}

.top_sellers-button{
    width: 120px;
    height: 41px;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--orange);
    color: var(--white);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top_sellers-button:hover{
    background-color: var(--bright-orange);
    color:var(--orange);
}

.top_sellers-third-photo{
    display: none;
}

.top_sellers-text{
    display: none;
}

  @media (min-width: 375px) {
    .top_sellers-container{
        min-width: 335px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        display: flex;
    }

    .top_sellers-header{
        color: var(--orange);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin-top: 72px;
    }

    .top_sellers-header-span{
        color: var(--black);
    }

    .top_sellers-gallery{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding-bottom: 32px;
        padding-top: 50px;
    }

    .top_sellers-photo{
        width: 344px;
        height: 464px;
    }

    .top_sellers-list-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .top_sellers-paragraph{
        color: var(--black);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; 
        letter-spacing: -0.28px;
        text-align: left;
        width: 306px;
    }
    
    .top_sellers-photo{
        border-radius: 15px;
        width: 335px;
        height: 464px;
        flex-shrink: 0;
    }

    .top_sellers-button{
        width: 120px;
        height: 41px;
        padding: 12px 28px;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--orange);
        color: var(--white);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 72px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top_sellers-button:hover{
        background-color: var(--bright-orange);
        color:var(--orange);
    }

    .top_sellers-third-photo{
        display: none;
    }

    .top_sellers-text{
        display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px){
    .top_sellers-container{
        min-width: 704px;
    }

    .top_sellers-gallery{
        gap: 16px;
        max-width: 704px;
        justify-content: space-between;    
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        padding-bottom: 20px;
        display: flex;
        position: relative;
    }
    
    .top_sellers-paragraph{
        display:none;
    }

    .top_sellers-button{
        display: none;
    }
    

    .top_sellers-text{
        display: flex;
        max-width: 704px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 236px;
        margin-bottom: 100px;
    }

    .top_sellers-photo{
        width: 344px;
    }

    .top_sellers-b{
        display: flex;
        width: 162px;
        height: 50px;
        padding: 14px 40px;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--orange);
        color: var(--white);
        font-family: Montserrat;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 72px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top_sellers-b:hover{
        background-color: var(--bright-orange);
        color:var(--orange);
    }

    .top_sellers-p{
        color: var(--black);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; 
        letter-spacing: -0.28px;
        max-width: 306px;
    }

    .top_sellers-third-photo{
        display: none;
    }
  }

  @media (min-width: 1200px){
    .top_sellers-container{
        width: 1136px;
    }

    .top_sellers-third-photo{
        display:flex;
    }

    .top_sellers-gallery{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-direction: column;
        max-width: 704px;
        justify-content: space-between;
        position: relative;
        display: flex;
        align-items: flex-start;
        padding-bottom: 20px;
        flex-basis: calc((100% - 16px) / 3);
        flex-direction: row;
        gap: 16px;
    }


    .top_sellers-button,
    .top_sellers-paragraph{
        display: none;
    }

    .top_sellers-gallery{
        max-width: 1136px;
    }

    .top_sellers-list-item{
        width: 368px;
    }

    .top_sellers-photo{
        width: 368px;
    }

    .top_sellers-text{
        display: flex;
        width: 1136px;
        height: 72px;
        justify-content: center;
        align-items: flex-start;
        gap: 567px;
        flex-shrink: 0;
        margin-bottom: 128px;
    }

    .top_sellers-b{
        display: flex;
        width: 162px;
        height: 50px;
        padding: 14px 40px;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--orange);
        color: var(--white);
        font-family: Montserrat;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 72px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top_sellers-b:hover{
        background-color: var(--bright-orange);
        color:var(--orange);
    }

    .top_sellers-p{
        width: 407px;
        flex-shrink: 0;
        color: var(--black);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
    }
  }